language: java
jdk:
  - oraclejdk8
  - oraclejdk7
env:
  - NODE_VERSION="0.11"
  - NODE_VERSION="0.10"
before_install:
  - nvm install $NODE_VERSION
before_script:
  - npm install
script:
  - npm test
